
#page1
{
  margin-top: 1280px;
}

#page2
{
  margin-top: 1280px;
}

#page3
{
  margin-top: 1280px;
}

#page4
{
  margin-top: 1280px;
}

#page5
{
  margin-top: 1280px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  flex-direction: row;
}



.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.landpage
{
background:url("/assets/main-bg.jpg");
background-position:center;
background-repeat:no-repeat;
background-size: cover;
}

.lp-text
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}