body{
  margin: 0;
}

#home{
  height: 1200px;
  background:url("/assets/main-bg.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

#thegames{
  height: 1800px;
  background-image: url("/assets/the-games-bg.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;  
}

#features{
  height: 1200px;
  background-image: url("/assets/features.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

#requirement{
  height: 1200px;
  background-image: url("/assets/requirements.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

#topscores{
  height: 1200px;
  background-image: url("/assets/top-score-bg(2).png"),url("/assets/top-score-bg.png");
  background-position:center,left;
  background-repeat:no-repeat,repeat;
  background-size: cover;
}

#newsletter{
  height: 1200px;
  background-image: url("/assets/newsletter.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;

}

/* .cell{
  /* width: auto;
  height: 75px;
  border: 0.1px solid white;
  color:white;
  opacity: 1;
  row-gap: 10px; 
  }
  */


/* .landpage {

} */

.head-con{
  background: rgba(5, 5, 5, 0.5);
  text-align: center;  
  display: flex;
  color: white;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.push{
  margin-left: auto;
}

.mid-con{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  margin-top: 0px;
}

.button-pn{
  background-color: rgb(249, 178, 62);
  border: none;
  border-radius: 2px;
  padding: 8px 70px;
}
.bot-con{
  color: white;
  margin-top: 720px;
  text-align: center;
}

/* .thegames{


} */

.part2{
  display: flex;
  height: auto;
  color: white;
  border: 1px solid white;
}
.feat-page{
  color:white;
  border: 1px solid white;

}
.feat-page-bot{
  color:white;
  border: 1px solid white;

}

.req-1{
  color: white;
  justify-content: center;
  border: 1px solid white;
}

.cell{
  color: white;
  border: 1px solid white;
}
.isi-atas{
  color: yellow;
  font-size: 24px;
}

.score-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  float: left;
  padding-top: 500px;
}

.score-2{
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  border: 1px solid white;
  float: right;
}